.copy{
    font-size: 11px;
    color: white;
    opacity: 65%;
    margin-top: 10px;
}
.arrow{
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    background-color: #0ef;
    color: #323946;
    border-radius: 8px;
    margin-top: 8px;
}