h2{
    font-family: "Science Gothic", sans-serif;
    color: white;
    font-size: 22px;
}

/* ICON */
.icon a i{
    width: 30px;
    height: 30px;
    border: 2px solid #0ef;
    padding-top: 7px;
    border-radius: 50%;
    background: transparent;
    transition: .5s ease;
}
.icon a i:hover{
   background-color: #0ef;
   color: #323946;
   box-shadow: 0 0 1rem #0ef;
}
/* ICONS */
.home-icon{
    position: relative;
}
.home-icons{
    position: absolute;
    color: #323946;
    background-color: #0ef;
    padding: 3px 5px;
    font-size: 11px;
    border-radius: 6px;
    font-weight: 600;
    top: -35px;
    right: -4px;
    visibility: hidden;
}
.home-icon:hover .home-icons{
    visibility: visible;
}


/* MY-IMAGE */
.home-image{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* IMAGE BG-COLOR MAIN CIRCLE */
.image-content{
    position: relative;
    width: 240px;
    height: 240px;
    display: grid;
    place-items: center;
}
/* PHOTO */
.image-content img{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
    mix-blend-mode:screen;
    position: relative;
}
/* ROTATING ARC */
.image-content::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: conic-gradient(transparent 0deg, transparent 250deg, #0ef 360deg);
    filter: drop-shadow(0 0 12px #0ef);
    animation: rotate-border 4s linear infinite;
}
.image-content::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 10px;
    background: #1f242d;
    inset: 10px;
}
@keyframes rotate-border{
  100%{
    transform: rotate(360deg);
  }
}



@media (min-width:1200px) {
    h2{
        font-family: "Science Gothic", sans-serif;
        margin-right: 350px;
        font-size: 32px;
    }
    .front{
        margin-right: 350px;
    }
    .icon a i{
        width: 38px;
        height: 38px;
        border: 2px solid #0ef;
        padding-top: 9px;
        border-radius: 50%;
        background: transparent;
        transition: .5s ease;
    }

    .home-image{
        position: relative;
    }
    /* IMAGE BG-COLOR MAIN CIRCLE */
   .image-content {
        position: absolute;
        right: 150px;
        top: -100px;
        width: 300px;
        height: 300px;
    }
    /* PHOTO */
    .image-content img {
        width: 260px;
        height: 260px;
    }

  .image-content::after {
        inset: 14px;
    }
}





